body{
	margin:0;
	background-color:#eee;
}

h1{
	margin:0;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	font-weight:normal;
}

#header{
	padding:0 5%;
	background-color: #811;
    color: #fff;
}

#header div {
	padding:10px 0;
    display: inline-block;
	width:30%;
	text-align:center;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.selected{
	background-color:#611;
}

#header div:hover{
	background-color:#711;
	cursor:pointer;
}

#gallery{
	margin: 10px 0;
}

.frame{
	padding: 5px;
	margin: 5px 0;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	max-width: 660px;
	height:620px;
	margin: 10px auto;
	background-color:#fff;
}

.frame:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	cursor:pointer;
}

.frame .links{
	height:50px;
	width:100%;
}

.photo{
	background-color:#000;
	height:520px;
	max-width:660px;
}

.card{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
